@model ProjectWebApiDotnet.Models.ViewModels.SellerFromViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Seller</h4>
<hr />
<div class="col-md-4">
    <form asp-action="Edit">
        <input type="hidden" asp-for="Seller.Id" />
        <div class="form-group">
            <label asp-for="Seller.Name" class="form-label"></label>
            <input asp-for="Seller.Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Seller.Email" class="form-label"></label>
            <input asp-for="Seller.Email" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Seller.BirthDate" class="form-label"></label>
            <input asp-for="Seller.BirthDate" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Seller.BaseSalary" class="form-label"></label>
            <input asp-for="Seller.BaseSalary" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Seller.DepartmentId" class="form-label"></label>
            <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-info"/>
            <a asp-action="Index" class="btn bg-success text-light">Back to list</a>
        </div>
    </form>
</div>
